* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #f2761e, #ef2b21, #f138d6);
    background-size: 300% 300%;
    animation: backgroundAnimation 2s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .eye {
    position: relative;
    width: 120px;
    height: 120px;
    display: block;
    background: #fff;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2), 
                inset 0 0 15px #f2761e, 
                inset 0 0 25px #f2761e;
    border: 2px solid #444;
    box-shadow: 0 15px 15px rgbs(0,0,0,0.2);
    background: radial-gradient(circle, #fff, #e0e0e0);
}

@keyframes blinking {
    0% {
        width: 45px;
        height: 45px;
    }
    25% {
        width: 35px;
        height: 10px;
    }
    50% {
        width: 45px;
        height: 45px;
    }
    75% {
        width: 35px;
        height: 10px;
    }
    100% {
        width: 45px;
        height: 45px;
    }
}

.box .eye::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    box-sizing: border-box;
    border: 10px solid #2196f3;
    animation: blinking 5s infinite ease-in-out;
}